 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;  
}

@media screen and (max-width: 90px) { 
    
    .header { width: 100px;

}
    .link-section { width: 100px;

    }
    body { width: 100px;

    }
    p { width: 100px;

    }
    h1, h4 { width: 100px;

    }
    .work { width: 100px;

    }
    li { width: 100px;

    }
    .box { width: 100px;

    }
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    height: 90px;
    align-items: center;
}

.link-section {
    display: flex;
}


body {
    background-color: navy;
}

img {
    width: 500px;
    margin: 50px;
    border-style: solid;
    border-width: 15px;
    padding: 10px;
}

p {
    font-size: 15px;
    line-height: 200px;
    margin: 10px;
}

h1, h4 {
    color: cornflowerblue;
}


.work {
height: 500px;
}



.box {
    height: 200px;
     color: white;
     background-color: antiquewhite;
}

li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: bisque;
}