 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;  
}



header {
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
    height: 90px;
    align-items: center;
}

.link-section {
    display: flex;
}


body {
    background-color: navy;
}

p {
    font-size: 15px;
    line-height: 200px;
    margin: 10px;
}

h1, h4 {
    color: cornflowerblue;
}


.work {
height: 500px;
}


.box {
   height: 200px;
    color: white;
    background-color: antiquewhite;
}




input, select, option, optgroup, textarea, button, 
pre, code {
    font-family: inherit;
}

ol, ul {
    list-style: none;
}