 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 36px;  
}


html {
    height: 100%;
}


body {
    background-color: navy;
}

p {
    font-size: 20px;
    line-height: 200px;
}

h1, h4 {
    font-size: 100%;
    color: cornflowerblue;
}


input, select, option, optgroup, textarea, button, 
pre, code {
    font-size: 100%;
    font-family: inherit;
}

ol, ul {
    list-style: none;
}